@use '../../../global';

a {
    background: global.$square;
    width: 300px;
    height: 200px;
    float: left;
    margin: 1.5em;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: global.$hover;
}

h3 {
    height: 100px;
    width: 300px;
    line-height: 50px;
    vertical-align: middle;
    clear: both;
    text-align: center;
    margin: 0px
}

p {
    height: 100px;
    width: 280px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 0.9em;
    color: global.$text;
}