<div id="monster">
  <h4>{{ data.name }}</h4>
  <p>
    <i>{{ data.size }} {{ data.type }}</i>
  </p>
  <hr />
  <p><em>Armor Class</em> {{ data.ac }}</p>
  <p><em>Hit Points</em> {{ data.hp }}</p>
  <p><em>Speed</em> {{ data.speed }}</p>
  <hr />
  <table cellspacing="0" cellpadding="0">
    <tr>
      <th>STR</th>
      <th>DEX</th>
      <th>CON</th>
      <th>INT</th>
      <th>WIS</th>
      <th>CHA</th>
    </tr>
    <tr>
      <td>{{ data.str }}</td>
      <td>{{ data.dex }}</td>
      <td>{{ data.con }}</td>
      <td>{{ data.int }}</td>
      <td>{{ data.wis }}</td>
      <td>{{ data.cha }}</td>
    </tr>
  </table>
  <hr />
  <p *ngIf="data.hasOwnProperty('saving')"><em>Saving Throws</em> {{ data.saving }}</p>
  <p *ngIf="data.hasOwnProperty('skill')"><em>Skills</em> {{ data.skill }}</p>
  <p *ngIf="data.hasOwnProperty('damage_resistance')"><em>Damage Resistances</em> {{ data.damage_resistance }}</p>
  <p *ngIf="data.hasOwnProperty('damage_immunity')"><em>Damage Immunities</em> {{ data.damage_immunity }}</p>
  <p *ngIf="data.hasOwnProperty('condition_immunity')"><em>Condition Immunities</em> {{ data.condition_immunity }}</p>
  <p><em>Senses</em> {{ data.sense }}</p>
  <p><em>Languages</em> {{ data.languages }}</p>
  <p><em>Challenge</em> {{ data.challenge }}</p>
  <hr *ngIf="data.hasOwnProperty('abilities')" />
  <div *ngFor="let ability of data.abilities">
    <p><em>{{ ability.name }}.</em> {{ ability.text }}</p>
    <div *ngIf="ability.hasOwnProperty('additional')" [innerHtml]=ability.additional></div>
  </div>
  <h5 *ngIf="data.hasOwnProperty('actions')">Actions</h5>
  <hr *ngIf="data.hasOwnProperty('actions')"/>
  <div *ngFor="let action of data.actions">
    <p><em>{{ action.name }}.</em> {{ action.text }}<p>
    <div *ngIf="action.hasOwnProperty('additional')" [innerHtml]=action.additional></div>
  </div>
  <h5 *ngIf="data.hasOwnProperty('legendary_actions')">Legendary Actions</h5>
  <hr *ngIf="data.hasOwnProperty('legendary_actions')"/>
  <p *ngIf="data.hasOwnProperty('legendary_description')">{{ data.legendary_description }}</p>
  <div *ngFor="let action of data.legendary_actions">
    <p><em>{{ action.name }}.</em> {{ action.text }}</p>
    <div *ngIf="action.hasOwnProperty('additional')" [innerHtml]=action.additional></div>
  </div>
</div>
