<article>
  <h1>Beholder-kin</h1>

  <div style="float: left">
    <h5><a href="#creatures">Creatures</a></h5>
    <ul>
      <li><a href="#orbus">Orbus</a></li>
      <li><a href="#beholder_spawn">Beholder Spawn</a></li>
      <li><a href="#lensman">Lensman</a></li>
      <li><a href="#gorbel">Gorbel</a></li>
      <li><a href="#ghost_beholder">Ghost Beholder</a></li>
      <li><a href="#astereater">Astereater</a></li>
      <li><a href="#watcher">Watcher</a></li>
      <li><a href="#director">Director</a></li>
      <li><a href="#kasharin">Kasharin</a></li>
      <li><a href="#gauger">Gauger</a></li>
      <li><a href="#observer">Observer</a></li>
      <li><a href="#eye_of_deep">Eye of The Deep</a></li>
      <li><a href="#eye_of_shadow">Eye of Shadow</a></li>
      <li><a href="#eye_of_frost">Eye of Frost</a></li>
      <li><a href="#examiner">Examiner</a></li>
      <li><a href="#doomsphere">Doomsphere</a></li>
      <li><a href="#beholder_mage">Beholder Mage</a></li>
      <li><a href="#elder_orb">Elder Orb</a></li>
      <li><a href="#Mindwitness">Mindwitness</a></li>
      <li><a href="#overseer">Overseer</a></li>
      <li><a href="#hive_mother">Hive Mother</a></li>
      <li><a href="#beholder_mage">Beholder Mage</a></li>
    </ul>
  </div>
  <div style="float: left">
    <h5><a href="#beholders_of_note">Beholders of Note</a></h5>
    <ul>
      <li><a href="#amnaxir">Amnaxir, the Greatest</a></li>
      <li><a href="#catrirahx">Catrirahx, the Eye Dragon</a></li>
      <li><a href="#dimitri">Dimitri Harkonnen, Priest of Beholders</a></li>
      <li><a href="#gathool">Gathool, the Hemomancer</a></li>
      <li><a href="#gokha">Gokha, the two faced</a></li>
      <li><a href="#goru">Goru, the ancient</a></li>
      <li><a href="#norbore">Norbore, Eye of Gold</a></li>
      <li><a href="#orox">Orox, Bane of Elves</a></li>
      <li><a href="#notraxa">Overseer Notraxa, Tree of knowledge</a></li>
      <li><a href="#qualnus">Qualnus, the Spider Queen</a></li>
      <li><a href="#quiph">Quiph, the Queen of Undead</a></li>
      <li><a href="#salbaka">Salbaka, the high commander</a></li>
      <li><a href="#selnux">Selnux, Deep water Terror</a></li>
      <li><a href="#ultramogg">Ultramogg, the Mad Cognitarch</a></li>
      <li><a href="#xeo-chem">Xeo-Chem, Mage Killer Extraordinaire</a></li>
      <li><a href="#zindrax">Zindrax, the White</a></li>
      <li><a href="#zolbax">Zolbax, the One eyed pirate</a></li>
    </ul>
  </div>

  <h2 id="creatures">Creatures</h2>

  <section>
    <h3 id="lensman">Lensman</h3>

    <p>
      <em
        ><small>MC7 - Monstrous Compendium - Spelljammer Appendix I</small></em
      >
    </p>

    <app-monster [data]="lensman"></app-monster>
  </section>

  <section>
    <h3>Astereater</h3>

    <p>
      <em
        ><small>MC7 - Monstrous Compendium - Spelljammer Appendix I</small></em
      >
    </p>

    <app-monster [data]="astereater"></app-monster>
  </section>

  <section>
    <h3>Bloodkiss Beholder</h3>
  </section>

  <section>
    <h3>Elder Orb</h3>
  </section>

  <section>
    <h3>Eye of Frost</h3>
  </section>

  <section>
    <h3 id="examiner">Examiner</h3>

    <p>
      <em
        ><small>MC7 - Monstrous Compendium - Spelljammer Appendix I</small></em
      >
    </p>

    <app-monster [data]="examiner"></app-monster>
  </section>

  <section>
    <h3>Director</h3>
  </section>

  <section>
    <h3>Eye of the Deep</h3>
  </section>

  <section>
    <h3>Gouger</h3>
  </section>
  <section>
    <h3>Observer</h3>
  </section>
  <section>
    <h3  id="overseer">Overseer</h3>

    <app-monster [data]="overseer"></app-monster>
  </section>

  <section>
    <h3 id="hive_mother">Hive Mother</h3>

    <p>
      <em><small>Lords of Madness: The Book of Aberrations</small></em>
    </p>

    <app-monster [data]="hive_mother"></app-monster>
  </section>
  <section>
    <h3>Beholder Overlord</h3>
  </section>
  <h2>Beholders of Note</h2>
  <section>
    <h3 id="amnaxir">Amnaxir, the Greatest</h3>

    <app-monster [data]="amnaxir"></app-monster>
  </section>

  <section>
    <h3>Orox, Bane of Elves</h3>

    <app-monster [data]="orox"></app-monster>
  </section>

  <section>
    <h3 id="qualnus">Qualnus, the Spider Queen</h3>

    <app-monster [data]="qualnus"></app-monster>
  </section>
  <section>
    <h3 id="xeo-chem">Xeo-Chem, Mage Killer Extraordinaire</h3>

    <app-monster [data]="xeo"></app-monster>
  </section>
</article>
